* {
    margin: 1%;
    padding: 2%;
    }
    
    .cabeçalho{
    background-color: rgb(137, 216, 253);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    }
    
    .cabeçalho_imagem{
    width: 30%;
    }
    Desenvolvimento da Plantae);
    padding: 0px;
    font-size: 30px;
    }
    
    .titulo_apresentaçao_trabalho{
    font-size: 30px;
    }
    
    .f15b0b2d-c477-4e2e-b993-4f6888d79059.jpeg {
    width: 40%;
    }
    
    .apresentaçao_trabalho{
        background-image: linear-gradient(rgb(144, 218, 253), #a3eef8);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 29px 0;
        }

        .subtitulo_apresentação_trabalho{
            background-color: rgb(137, 216, 253);
            color: rgb(0, 0, 0);
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 50px 0;
            }

            .subtitulo_apresentação_trabalho{
                width: 26%;
            }

            .semana_2{
                background-color: rgb(137, 216, 253);
                color: rgb(0, 0, 0);
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 50px 0;
                }
    
                .semana_2{
                    width: 20%;
                }

            
        
                .SEMANA_3{
                    background-color: rgb(137, 216, 253);
                    color: rgb(0, 0, 0);
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding: 50px 0;
                    width: 20%;
                    }


                .SEMANA_4{
                    background-color: rgb(137, 216, 253);
                    color: rgb(0, 0, 0);
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding: 50px 0;
                    width: 20%;
                    }
        
                  
                .SEMANA_5{
                    background-color: rgb(137, 216, 253);
                    color: rgb(0, 0, 0);
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding: 50px 0;
                    width: 20%;
                    }
               